{% extends 'osaka/wrapper.html' %}
{% load static %}

{% block title %}Корзина{% endblock %}
{% block content %}
    <div class="container">
        <div class="card_main">
            <h1>Ваша корзина заказов</h1>
            <div class="card-flex">
                <table class="cart">
                    <thead>
                        <tr>
                            <th>Продукт</th>
                            <th>Цена</th>
                            <th>Количество</th>
                            <th>Размер</th>
                            <th>Действие</th>
                            <th>Всего</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cart %}
                            {% with product=item.product %}
                            <tr class="table-item">
                                <td>
                                    <a href="{{ product.get_absolute_url }}">
                                        <img src="{% if product.image %}{{ product.image.url }}
                                        {% else %}{% static "osaka/images/empty.png" %}{% endif %}">
                                        <p>{{ product.name }}<p>
                                    </a>
                                </td>
                                <td class="num">{{ item.price }} ₽</td>
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.size }}</td>
                                <td class="delete-btn"><a href="{% url "cart:cart_remove" product.id%}">Удалить</a></td>
                                <td class="num">{{ item.total_price }} ₽</td>
                            </tr>
                            {% endwith %}
                        {% endfor %}
                            <tr class="text-col-1">
                                <td><a href="{% url "catalog:product_list" %}">Продолжить выбор товаров</a></td>
                            </tr>
                    </tbody>
                </table>
                <div class="offer-wrap">
                    <div class="offer">
                        <h1>Детали заказа</h1>
                        <div class="col-fields">
                            <div class="offer-col-1">
                                <p>Самовывоз:</p>
                                <p>Доставка:</p>
                                </br></br></br><p>Промо-код:</p>
                                <p>Итого:</p>
                            </div>
                            <div class="offer-col-2">
                                <form action="{% url 'cart:cart_detail' %}" method="post" id="offer-form">
                                    {{ order_form }}
                                    <div class="offer-col-2">
                                        <div class="total">
                                            <p>{{ cart.get_total_price }} ₽</p>
                                        </div>
                                    </div>
                                    {% csrf_token %}
                                    <button id="order-button">Оформить заказ</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="text-col-2">
                        <div id="overlay">
                            <div id="text">Заказ оформлен!</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        var form = document.querySelector('#offer-form');
        var overlay = document.querySelector('#overlay');
        var address = form.querySelector('[name=address]');
        var mart = form.querySelector('[name=mart]');
        var product = document.querySelector('.table-item');
        var user_auth = document.querySelector('.user-auth');
        
        form.addEventListener('submit', function(e){
            e.preventDefault();
            if (user_auth && product) {
                if (address.value || mart.value) {
                    overlay.style.display = "block";
                }
            }
            else {
                window.location.replace("/account/login/");
            }
        })

        overlay.addEventListener('click', function(e){
            e.preventDefault();
            overlay.style.display = "none";
            form.submit();
        })

        window.addEventListener('keydown', function(e){
            if (e.keyCode == 27) { 
                e.preventDefault();
                overlay.style.display = "none";
                form.submit();
            }
        })

        
    </script> 
{% endblock %}