{% extends "osaka/wrapper.html" %} {% block title %}Регистрация{% endblock %} {% block content %}

<div class="container">
    <div class="auth">
        <h1>Регистрация нового аккаунта</h1>
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <p><input placeholder="Имя пользователя" type="text" name="username" maxlength="150" required="" id="id_username">
            <p><input placeholder="Ваше имя"  type="text" name="first_name" maxlength="150" id="id_first_name"></p>
            <p><input placeholder="E-mail адрес"  type="email" name="email" maxlength="254" id="id_email"></p>
            <p><input placeholder="Пароль"  type="password" name="password" required="" id="id_password"></p>
            <p><input placeholder="Подтвреждение пароля"  type="password" name="password2" required="" id="id_password2"></p>
            <input type="hidden">
            <p><button>Создать аккаунт</button></p>
        </form>
    </div>
</div>

{% endblock %}