{% extends 'osaka/wrapper.html' %}
{% load static %}

{% block title %}
    О нас
{% endblock %}

{% block rel %}
    <link rel="stylesheet" href="{% static 'osaka/css/banner.css' %}">
{% endblock %}

{% block content %}
    <div class="banner">
        <img src="{% static 'osaka/images/bg-02.jpg' %}">
        <p class="lead">О нас</p>
    </div>
    <div class="container">
        <div class="about-main-wrapper">
            <div class="about-wrapper">
                <div class="about-text">
                    <h1>О бренде</h1>
                    <p class="about about-skip"><span style="display:inline-block; width: 30px;"></span>Бренд одежды “OSAKA” была основан в начале нулевых годов, и лишь в этом 
                    году собирается выходить на международный рынок. “OSAKA” начал свой путь с одного маленького магазина 
                    с секонд хенд одеждой почти 20 лет назад. И сегодня это один из самых известных брендов по восточной 
                    культуре. Название бренда “OSAKA” берет свое название из Японского крупного портового и торгового 
                    города Осака, где автор и вдохновился созданием брендовой одежды. <p>
                    <p class="about about-skip"><span style="display:inline-block; width: 30px;"></span>Особенностью бренда являются лимитированные коллекции. Все началось от 
                    отсутствия денег и возможности шить много. В итоге это переросло в концепцию. Так же бренд не 
                    специализируется на мужской или женской одежде т.к. создатель бренда не видит в этом смысла и создает 
                    одежду сразу для всех (унисекс). Помимо стиля и дизайна мы придаем большое значение качеству ткани. 
                    Мы хотим, чтобы наши клиенты чувствовали себя комфортно.<p>
                </div>
                
                <div class="about-image about-img-1">
                    <img src="{% static "osaka/images/about-01.jpg" %}">
                </div>
            </div>

            <div class="about-wrapper">
                <div class="about-text">
                    <h1>О команде</h1>
                    <p class="about about-skip"><span style="display:inline-block; width: 30px;"></span>После того, как дизайн прототипирован, продукт официально входит в 
                    производственную цепочку. На этом этапе в игру вступает современное оборудование и профессиональная 
                    ручная работа.<p>
                    <p class="about about-skip"><span style="display:inline-block; width: 30px;"></span>Линия одежды «OSAKA» создается с помощью оборудования высокого качества. 
                    Мы с вниманием относимся к деталям и качеству, поэтому некоторые элементы одежды выполняются вручную, 
                    однако это также отражается на цене продукции.  Рубашки, брюки, футболки и другие элементы одежды 
                    выполнены в восточном стиле.</p>
                    <p class="about about-skip"><span style="display:inline-block; width: 30px;"></span>Прежде чем мы представим вам нашу продукцию, наши профессиональные 
                    дизайнеры проводят строгие проверки качества, чтобы утвердить каждый предмет одежды. Мы приглашаем 
                    моделей примерить одежду и рассмотреть общий вид. Мы постоянно модифицируем предметы одежды, пока 
                    внешний вид не станет идеальным. Наши продукты часто проходят многочисленные изменения и 
                    преобразования, прежде чем они поступят в продажу.</p>
                    <p class="about-quote"><i>Творчество просто соединяет вещи. Когда вы спрашиваете творческих людей, 
                    как они что-то сделали, они чувствуют себя немного виноватыми, потому что на самом деле они этого не 
                    делали, они просто что-то видели. Через некоторое время это показалось им очевидным.</i><br>
                    <label class="about-dark">- Мэрилин Менсон</label>
                    </p>
                </div>
                <div class="about-image about-img-2">
                    <img src="{% static "osaka/images/about-02.jpg" %}">
                </div>
            </div>
        </div>
    </div>
{% endblock %}