{% extends 'osaka/wrapper.html' %}
{% load static %}

{% block title %}
    О нас
{% endblock %}

{% block rel %}
    <link rel="stylesheet" href="{% static 'osaka/css/banner.css' %}">
{% endblock %}

{% block content %}
    <div class="banner">
        <img src="{% static 'osaka/images/bg-02.jpg' %}">
        <p class="lead">О нас</p>
    </div>
    <div class="container">
        <div class="about-main-wrapper">
            <div class="about-wrapper">
                <div class="about-text">
                    <h1>Наша история</h1>
                    <p class="about about-skip">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris consequat consequat enim, non auctor massa ultrices non. 
                    Morbi sed odio massa. Quisque at vehicula tellus, sed tincidunt augue. Orci varius natoque penatibus et magnis dis parturient montes, 
                    nascetur ridiculus mus. Maecenas varius egestas diam, eu sodales metus scelerisque congue. Pellentesque habitant morbi tristique senectus 
                    et netus et malesuada fames ac turpis egestas. Maecenas gravida justo eu arcu egestas convallis. Nullam eu erat bibendum, tempus ipsum 
                    eget, dictum enim. Donec non neque ut enim dapibus tincidunt vitae nec augue. Suspendisse potenti. Proin ut est diam. Donec condimentum 
                    euismod tortor, eget facilisis diam faucibus et. Morbi a tempor elit.<p>
                    <p class="about about-skip">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris consequat consequat enim, non auctor massa ultrices non. 
                    Morbi sed odio massa. Quisque at vehicula tellus, sed tincidunt augue. Orci varius natoque penatibus et magnis dis parturient montes, 
                    nascetur ridiculus mus. Maecenas varius egestas diam, eu sodales metus scelerisque congue. Pellentesque habitant morbi tristique senectus 
                    et netus et malesuada fames ac turpis egestas. Maecenas gravida justo eu arcu egestas convallis. Nullam eu erat bibendum, tempus ipsum 
                    eget, dictum enim. Donec non neque ut enim dapibus tincidunt vitae nec augue. Suspendisse potenti. Proin ut est diam. Donec condimentum 
                    euismod tortor, eget facilisis diam faucibus et. Morbi a tempor elit.<p>
                    <p class="about">Любые вопросы? Дайте нам знать в магазине на 8-м этаже, 379 Hudson St, New York, NY 10018 или позвоните нам по телефону 
                    (+1) 96716 6879</p>
                </div>
                
                <div class="about-image about-img-1">
                    <img src="{% static "osaka/images/about-01.jpg" %}">
                </div>
            </div>

            <div class="about-wrapper">
                <div class="about-text">
                    <h1>Наша миссия</h1>
                    <p class="about about-skip">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris consequat consequat enim, non auctor massa ultrices non. 
                    Morbi sed odio massa. Quisque at vehicula tellus, sed tincidunt augue. Orci varius natoque penatibus et magnis dis parturient montes, 
                    nascetur ridiculus mus. Maecenas varius egestas diam, eu sodales metus scelerisque congue. Pellentesque habitant morbi tristique senectus 
                    et netus et malesuada fames ac turpis egestas. Maecenas gravida justo eu arcu egestas convallis. Nullam eu erat bibendum, tempus ipsum 
                    eget, dictum enim. Donec non neque ut enim dapibus tincidunt vitae nec augue. Suspendisse potenti. Proin ut est diam. Donec condimentum 
                    euismod tortor, eget facilisis diam faucibus et. Morbi a tempor elit.<p>
                    <p class="about-quote"><i>Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty 
                    because they didn't really do it, they just saw something. It seemed obvious to them after a while.</i><br>
                    <label class="about-dark">- Steve Job’s</label>
                    </p>
                </div>
                <div class="about-image about-img-2">
                    <img src="{% static "osaka/images/about-02.jpg" %}">
                </div>
            </div>
        </div>
    </div>
{% endblock %}