{% extends 'osaka/wrapper.html' %}
{% load static %}

{% block title %}
    Главная
{% endblock %}

{% block content %}

<div class="true_slider">
    <div class="slider middle">

        <div class="slides">
        
            <input type="radio" name="r" id="r1" checked>
            <input type="radio" name="r" id="r2">
            <input type="radio" name="r" id="r3">
            <input type="radio" name="r" id="r4">

            <div class="slide s1"><img src="{% static "osaka/images/slider/slide-01.jpg" %}" alt=""></div>
            <div class="slide"><a href="http://osaka-store.xyz/catalog/kurtki/"><img src="{% static "osaka/images/slider/slide-02.jpg" %}" alt=""></a></div>
            <div class="slide"><a href="http://osaka-store.xyz/catalog/bryuki/"><img src="{% static "osaka/images/slider/slide-03.jpg" %}" alt=""></a></div>
            <div class="slide"><a href="http://osaka-store.xyz/catalog/topy/"><img src="{% static "osaka/images/slider/slide-04.jpg" %}" alt=""></a></div>
        
        </div>

        <div class="navigation">
            <label for="r1" class="bar"></label>
            <label for="r2" class="bar"></label>
            <label for="r3" class="bar"></label>
            <label for="r4" class="bar"></label>    
        </div>
    </div>
</div>

<div class="container">
    <h1>Популярные категории</h1>
    <div id="main" class="product-list">

        <div class="card">
            <div class="item">
            <a href="{{ product.get_absolute_url }}">
                <img src="{% static "osaka/images/empty.png" %}" alt="Картинка">
            </a>
            </div>
            <p><a href="{{ product.get_absolute_url }}"> {{ product.name }}</a></p>
        </div>

        <div class="card">
            <div class="item">
            <a href="{{ product.get_absolute_url }}">
                <img src="{% static "osaka/images/empty.png" %}" alt="Картинка">
            </a>
            </div>
            <p><a href="{{ product.get_absolute_url }}"> {{ product.name }}</a></p>
        </div>

        <div class="card">
            <div class="item">
            <a href="{{ product.get_absolute_url }}">
                <img src="{% static "osaka/images/empty.png" %}" alt="Картинка">
            </a>
            </div>
            <p><a href="{{ product.get_absolute_url }}"> {{ product.name }}</a></p>
        </div>

        <div class="card">
            <div class="item">
            <a href="{{ product.get_absolute_url }}">
                <img src="{% static "osaka/images/empty.png" %}" alt="Картинка">
            </a>
            </div>
            <p><a href="{{ product.get_absolute_url }}"> {{ product.name }}</a></p>
        </div>
    </div>
</div>

<div class="banner">
    <img src="{% static 'osaka/images/bg-02.jpg' %}">
</div>

<div class="container">
    <h1>Распродажа</h1>
    <div id="main" class="product-list">
        {% for product in products %}
        <div class="card">
            <div class="item">
            <a href="{{ product.get_absolute_url }}">
                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "osaka/images/empty.png" %}{% endif %}">
            </a>
            </div>
            <p><a href="{{ product.get_absolute_url }}"> {{ product.name }}</a></p>
            {% if product.discount %}
            <div class="price">
                <p class="money discount">{{ product.price }} ₽ </p>
                <p class="money">{{ product.discount_calc }} ₽</p>
            </div>
            {% else %}
                <p class="money">{{ product.price }} ₽</p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}