{% extends 'osaka/wrapper.html' %}
{% load static %}

{% block title %}
    Отслеживание заказа
{% endblock %}

{% block content %}

<div class="container">
    <h1>Как долго длится процесс возврата?</h1>
<p>1. Мы с радостью принимаем возврат в течение 30 дней с момента получения для большинства товаров в новом состоянии.</p>
<p>2. Плата в размере 700 рублей будет вычтена из вашего возмещения за каждый возврат. (Подробнее см. В разделе «Как сделать возврат?»)</p>
<p>3. Если вы выберете Самостоятельную отправку для возврата посылки, вы самостоятельно несете расходы за обратную доставку.</p>
<h1>Каковы условия возврата?</h1>

<p>1. Если вы получаете поврежденные / бракованные товары или есть проблемы с качеством/размером, пожалуйста, свяжитесь со службой поддержки клиентов OSAKA и предоставьте подтверждающие фотографии, мы обработаем вашу заявку как можно скорее.</p>
<p>2. Предметы должны быть возвращены неношеными, нестираны, неповрежденными и со всеми оригинальными бирками. Если признаки этих действий будут обнаружены, стоимость товара возврату не подлежит.</p>
<p>3. К сожалению, мы не принимаем возвращенные товары, доставка которых не была оплачена. Возврат будет произведен за ваш счет.</p>
<p>4. Пожалуйста, не забудьте дважды проверить свои возвраты, прежде чем отправлять их. Мы не будем нести ответственность за возврат продуктов, не являющихся продуктами OSAKA</p>

<h1>Сколько времени занимает процесс возврата денег?</h1>
<p>Ваш запрос будет обработан в течение 5 рабочих дней после того, как мы получим ваше возврат.</p>
</div>

{% endblock %}