{% extends 'osaka/wrapper.html' %}
{% load static %}

{% block title %}
    Блог
{% endblock %}

{% block rel %}
    <link rel="stylesheet" href="{% static 'osaka/css/banner.css' %}">
{% endblock %}

{% block content %}
    <div class="banner">
        <img src="{% static 'osaka/images/bg-01.jpg' %}"/>
        <p class="lead">Блог</p>
    </div>
    <div class="container">
    
    {% for post in posts %}
        {{ post.title }}{{ post.body }}{{ post.created }}{{ post.author }}
    {% endfor %}

    </div>
{% endblock %}