{% extends 'osaka/wrapper.html' %}
{% load static %}

{% block title %}
    Блог
{% endblock %}

{% block rel %}
    <link rel="stylesheet" href="{% static 'osaka/css/banner.css' %}">
{% endblock %}

{% block content %}
    <div class="banner">
        <img src="{% static 'osaka/images/bg-01.jpg' %}"/>
        <p class="lead">Блог</p>
    </div>
    <div class="container">

    {% for post in posts %}
    
    <p class="post_title">{{ post.title }}</p>
    <p class="review_author">{{ post.author }}<label>{{ post.publish }}</label></p>
    <p class="review_text">{{ post.body }}</p>
    {% if post.photo %}
            <img src= "{{ post.photo.url }}">
    {% endif %}
    {% endfor %}

    </div>
{% endblock %}