* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Comfortaa';
    src: url("../fonts/Comfortaa/Comfortaa-Regular.ttf");
}

html {
    height: 100%;
}

a:hover {
    transition: .3s;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Comfortaa';
    color: #333;
    font-size: 14px;
    height: 100%;
    overflow-x: hidden;
    line-height: 1.5;
}

header {
    background-color: white;
    position: fixed;
    width: 100%;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

footer {
    width: 100%;
    flex: 0 0 auto;
    background-color: #222;
    padding: 30px 0 30px;
    overflow-x: hidden;
}

section {
    padding-top: 30px;
    margin-top: 62px;
    margin-bottom: 30px;
    text-align: justify;
}

.container-menu-desktop {
    flex: 0 0 auto;
    height: 62px;
}

.main-content {
    flex: 1 0 auto;
}

.container {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 15px 0;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 60px;
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    line-height: 10px;
}

.trash {
    color: #f13838;
}

.menu-desktop {
    display: flex;
    height: 100%;
    padding: 20px 0 20px;
}

.main-menu {
    list-style-type: none;
    display: flex;
    width: 100%;
    white-space: nowrap;
}

.main-menu li {
    display: block;
    position: relative;
}

.main-menu li+li {
    margin-left: 25px;
}

.main-menu>li>a {
    font-family: 'Comfortaa';
}

.main-menu a {
    text-decoration: none;
    color: #333;
}

.main-menu a:hover {
    color: #6c7ae0;
}

.auth-menu {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.txt-center {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    color: #888;
}

.list-name {
    color: white;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.6;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.column {
    display: flex;
    justify-content: space-between;
}

.column a {
    text-decoration: none;
    color: #888;
}

.column a:hover {
    color: #6c7ae0;
    /* transition: 0.4s ease; */
}

.column li {
    list-style-type: none;
    display: block;
    line-height: 2;
}

.burger {
    display: none;
}

.burger {
    padding: 0 20px 20px 20px;
}

.burger li {
    display: block;
}

.burger a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    line-height: 40px;
}

@media (max-width: 800px) {
    .true_slider {
        display: none;
    }
    header {
        position: static;
    }
    #main-menu__nav {
        display: none;
    }
    .column {
        flex-direction: column;
    }
    .column ul {
        padding-bottom: 40px;
    }
    .list-name {
        padding-bottom: 10px;
    }
    .txt-center {
        padding: 0;
    }
    .auth h1 {
        font-size: 21px;
    }
    .auth-block a {
        font-size: 14px;
    }
    .burger {
        display: block;
    }
    .logo {
        font-size: 24px;
        margin: 0;
    }
    section {
        margin-top: 0px;
    }
    .lead {
        margin-top: 230px;
    }
}

.col3 p {
    color: #888;
}

.btn-sub {
    background-color: #717fe0;
    border: none;
    border-radius: 23px;
    font-size: 15px;
    line-height: 1.5;
    color: white;
    padding: 10px 30px 10px;
    margin-top: 20px;
    cursor: pointer;
}

.btn-sub:hover {
    background-color: white;
    color: #717fe0;
}

.input-sub {
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 2px #333 solid;
    color: white;
    line-height: 2;
    color: white;
}

.auth-block {
    display: flex;
    justify-content: flex-end;
}

.selected a {
    color: #6c7ae0;
}

.banner {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    overflow-x: hidden;
}

.banner img {
    height: 239px;
    width: 1950px;
}

.lead {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 130px;
    font-size: 70px;
    font-weight: bold;
    color: white;
}

#sidebar ul {
    align-items: left;
}

#sidebar li {
    line-height: 40px;
    display: inline-block;
}

#sidebar a:hover {
    border-bottom: 1px solid #333;
    color: #333;
}

#sidebar li+li {
    margin-right: 24px;
}

#sidebar a {
    text-decoration: none;
    color: #999;
    font-size: 15px;
    padding: 5px 5px 5px 0;
}

#full_list {
    margin-right: 24px;
}

.item {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 315px;
}

.item img {
    width: 100%;
    height: 100%;
}

.card {
    padding: 10px 0 10px;
    margin-bottom: 30px;
    width: 25%;
    overflow: hidden;
    justify-content: center;
}

.price p {
    display: inline-block;
    margin-right: 10px;
}

.money {
    font-size: 13px;
}

.money.discount {
    color: #ff7474;
    text-decoration: line-through;
}

@media (max-width: 1300px) {
    .card {
        padding: 10px 10px 10px 0px;
        width: 33%;
    }
}

@media (max-width: 1030px) {
    .card {
        width: 50%;
    }
}

@media (max-width: 700px) {
    .item {
        width: 100%;
        height: auto;
    }
    .card {
        width: 50%;
        height: auto;
    }
}

.card a {
    text-transform: uppercase;
    text-decoration: none;
    color: #999;
    line-height: 30px;
    vertical-align: center;
}

.card a:hover {
    color: #717fe0;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: start;
}

.money {
    color: #666;
}

.detail_card label {
    display: none;
}

#id_quantity {
    display: none;
}

#id_size {
    width: 100%;
    /* margin-bottom: 10px; */
}

.detail_card img {
    width: 80%;
}

.detail_card {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.detail_card_block {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-bottom: 140px;
}

.description {
    line-height: 1.5;
    margin: 30px 0 30px;
    font-size: 16px;
}

.btn-sub2ch {
    background-color: #333;
    width: 50%;
    min-width: 250px;
    border: none;
    border-radius: 23px;
    font-size: 15px;
    line-height: 1.5;
    color: white;
    padding: 10px 30px 10px;
    margin-top: 20px;
    cursor: pointer;
}

.btn-sub2ch:hover {
    background-color: #9bad93;
    color: white;
}

@media (max-width: 600px) {
    .detail_card img {
        width: 100%;
    }
    .detail_card {
        width: 100%;
    }
    .detail_card_block {
        width: 100%;
        flex-direction: column;
    }
}

.cash {
    padding-top: 10px;
    color: green;
    font-size: 20px;
}


/* #_size {
width: 40%;
display: block;
} */

thead {
    min-width: 600px;
}

tbody {
    min-width: 600px;
}

.card_main {
    margin-bottom: 100px;
}

.card_main table {
    border-top: 1px solid rgb(223, 223, 223);
    border-bottom: none;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.card_main tbody {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.card_main tr {
    border: 1px solid rgb(223, 223, 223);
    border-top: none;
    display: flex;
    color: #555;
    font-size: 13px;
    text-transform: uppercase;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.card_main tr a {
    color: #333;
    text-decoration: none;
}

.card_main th {
    padding: 15px 0px 15px;
    width: 16.666%;
    text-align: center;
}

.card_main td {
    padding: 15px 0px 15px;
    width: 16.666%;
    text-align: center;
}

.card_main p {
    text-align: left;
}

.card_main td p {
    text-align: center;
}

.card_main img {
    width: 100px;
    height: auto;
}

.text_wrapper {
    display: flex;
    width: 100%;
}

.text-col-1 td {
    display: flex;
    width: 100%;
    background-color: #333;
    padding: 0;
}

.text-col-1 td:hover {
    background-color: #9bad93;
}

.text-col-1 td a {
    line-height: 50px;
    width: 100%;
    text-align: center;
    color: white;
}

.text-col-2 {
    width: 100%;
    background-color: #333;
    margin-left: 50px;
}

.text-col-2 button {
    width: 100%;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color: white;
    background-color: #333;
    border: none;
    text-transform: uppercase;
    font-size: 13px;
}

.text-col-2 button:hover {
    background-color: #9bad93;
}

.card-flex {
    margin-bottom: 30px;
    display: flex;
}

.offer h1 {
    margin-bottom: 50px;
    text-align: left;
}

.offer {
    margin-left: 50px;
    border: 1px solid rgb(223, 223, 223);
    width: 100%;
    display: flex;
    padding: 10px 40px 10px;
    flex-direction: column;
}

.col-fields {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.offer-col-1 {
    display: flex;
    width: 40%;
    flex-direction: column;
}

.offer-col-1 p {
    font-size: 16px;
    padding-bottom: 17px;
    margin-bottom: 16px;
}

.offer-col-2 {
    display: flex;
    width: 60%;
    flex-direction: column;
}

.offer-col-2 p {
    margin-bottom: 20px;
}

.offer-col-2 {
    color: #888;
    font-size: 13px;
    line-height: 1.5;
}

.offer-col-2 input {
    height: 38px;
    padding: 0 15px 0;
    width: 100%;
    margin-bottom: 20px;
}

.offer-col-2 select {
    height: 40px;
    padding: 0 15px 0;
    width: 100%;
    margin-bottom: 15px;
    appearance: none;
}

.total {
    font-size: 18px;
    color: #333;
}

.delete-btn a:hover {
    color: #f13838;
}

@media (max-width: 1200px) {
    .cart {
        overflow-x: scroll;
    }
    .card_main {
        padding-right: 20px;
    }
    .card-flex {
        flex-direction: column;
    }
    .card_main table {
        width: 100%;
    }
    .offer {
        padding: 10px 20px 10px;
        margin-top: 30px;
        width: 100%;
        margin-left: 0px;
    }
    .text-col-2 {
        margin-left: 0;
    }
}

.offer-wrap {
    flex-direction: row;
}

.contact-main-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 50px;
}

.contact-wrapper {
    display: flex;
    flex-direction: column;
    width: 47%;
    border: 1px solid rgb(223, 223, 223);
    padding: 70px;
    text-align: center;
}

.contact-wrapper input {
    display: flex;
    border: 1px solid rgb(223, 223, 223);
    width: 100%;
    padding-left: 28px;
    line-height: 48px;
    font-size: 15px;
    margin-bottom: 30px;
}

.contact-title {
    font-size: 24px;
    padding: 0 0 30px;
}

.contact-wrapper textarea {
    display: flex;
    margin-bottom: 30px;
    width: 100%;
    font-size: 15px;
    border: 1px solid rgb(223, 223, 223);
    padding-left: 28px;
    resize: vertical;
    min-height: 200px;
    padding-top: 16px;
}

.contact-wrapper button {
    display: flex;
    justify-content: center;
}

.btn-contact {
    width: 100%;
    text-align: center;
    line-height: 30px;
}

@media (max-width: 1200px) {
    .contact-main-wrapper {
        flex-direction: column;
    }
    .contact-wrapper {
        width: 100%;
    }
}

.second-block {
    text-align: left;
    font-size: 18px;
}

.second-block p {
    margin-bottom: 15px;
}

.contact-text {
    max-width: 245px;
    font-size: 15px;
    color: #888;
    line-height: 1.5;
    padding-bottom: 42px;
}

.contact-number {
    color: #717fe0;
}

iframe {
    width: 100%;
    position: relative;
    bottom: -40px;
}

@media (max-width: 900px) {
    .contact-main-wrapper {
        flex-direction: column;
    }
    .contact-wrapper {
        width: 100%;
        margin-bottom: 50px;
        padding: 40px;
    }
}

.about-main-wrapper {
    padding-bottom: 30px;
}

.about-wrapper {
    display: flex;
    flex-direction: row;
}

.about-text {
    order: 1;
    display: flex;
    flex-direction: column;
    max-width: 60%;
}

.about-image {
    display: flex;
    flex-direction: column;
    max-width: 40%;
}

.about-img-1 {
    order: 1;
    padding: 40px 0 40px 40px;
}

.about-img-2 {
    order: 0;
    padding: 40px 40px 40px 0;
}

.about-text p {
    color: rgb(138, 138, 138);
    line-height: 1.5;
}

.about-quote {
    border-left: 3px solid rgb(212, 212, 212);
    padding-left: 30px;
}

.about-dark {
    color: #333;
    line-height: 40px;
}

.about-skip {
    margin-bottom: 15px;
}

@media (max-width: 1000px) {
    .about-wrapper {
        display: flex;
        flex-direction: column;
    }
    .about-text {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }
    .about-image {
        padding: 30px 0 0 0;
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }
    .about-img-2 {
        order: 1;
        padding: 30px 0 0 0;
    }
}

.post_body {
    margin: 20px 0 20px;
}

.ABOBA a {
    text-decoration: none;
    color: #666;
}

.ABOBA a {
    margin-left: 15px;
}

.review {
    position: relative;
    padding: 0;
    top: -100px;
}

.review_author {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: bold;
    color: #6c7ae0;
    padding-bottom: 5px;
}

.review_author label {
    margin-left: 10px;
    font-weight: normal;
    font-size: 12px;
    color: #999;
}

.review_text {
    margin-top: 0;
    margin-bottom: 20px;
}

.post_title {
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0 5px;
}


/* .true_slider {
overflow: visible;
width: 400%;
} */

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 400%;
    height: 100%;
    /* min-height: 700px; */
    /* height: 100%; */
    display: flex;
    overflow: hidden;
}

.slide {
    display: flex;
    justify-content: center;
    width: 25%;
    transition: all .6s ease;
    overflow: hidden;
}

.slide img {
    height: 100%;
    width: 100%;
    justify-content: center;
    display: flex;
}

.slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.middle {
    position: relative;
    top: -90px
}

.navigation {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    z-index: 997;
}

.bar {
    height: 8px;
    width: 30px;
    margin: 6px;
    cursor: pointer;
    background-color: black;
    opacity: .5;
    border-radius: 10px;
    transition: all .4 ease;
}

.bar:hover {
    opacity: .8;
    transform: scale(1.1)
}

#r1:checked~.s1 {
    margin-left: 0;
}

#r2:checked~.s1 {
    margin-left: -25%;
}

#r3:checked~.s1 {
    margin-left: -50%;
}

#r4:checked~.s1 {
    margin-left: -75%;
}

.cash_discount {
    font-size: 20px;
    color: #f13838;
    text-decoration: line-through;
}

.profile {
    margin-top: 15px;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.profile_photo {
    display: inline-block;
    width: 250px;
    overflow: hidden;
}

.profile_photo img {
    width: 100%;
    height: 100%;
}

.username {
    color: #6c7ae0;
}

.change-profile {
    width: 150px;
    text-decoration: none;
}

.edit_profile {
    display: block;
    text-align: left;
    line-height: 2;
    color: #333;
    font-size: 16px;
    width: 330px;
}

.edit_profile input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #333;
}

.edit_profile input {
    outline: none;
    border: none;
    border-bottom: 2px solid #333;
}

.edit_profile input[type=submit] {
    margin-top: 10px;
    background-color: #333;
    color: white;
    padding: 10px 30px 10px;
    border: none;
    border-radius: 23px;
}

.edit_profile input[type=submit]:hover {
    background-color: #9bad93
}

#id_photo {
    border: none;
    display: inline-block;
    width: 250px;
}

.review textarea {
    resize: vertical;
    width: 100%;
    padding: 15px;
}

.btn-review {
    width: 30%;
}

.image_block {
    display: inline-block;
    max-height: 300px;
    overflow: hidden;
}

.image_block img {
    width: 100%;
}

.slides label {
    color: black;
    font-size: 20px;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    cursor: pointer;
}

#text {
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 80px;
    color: #333;
    background-color: white;
    padding: 20px 50px;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

@media (max-width: 1500px) {
    #text {
        font-size: 50px;
    }
}

@media (max-width: 1200px) {
    #text {
        font-size: 30px;
    }
}

@media (max-width: 800px) {
    #text {
        font-size: 14px;
        padding: 10px 25px;
    }
}

button:disabled {
    background-color: rgb(156, 156, 156);
}

button:hover:disabled {
    background-color: rgb(156, 156, 156);
}

input:checked {
    width: 40px;
}

input[type="checkbox"] {
    width: 40px;
}

label[for="id_mart"] {
    display: none;
}

#id_mart {
    margin-bottom: 20px;
}

#order-button {
    width: 100%;
    height: 50px;
    border: none;
    background-color: #333;
    color: white;
    font-size: 13px;
    text-transform: uppercase;
}

#order-button:hover {
    background-color: #9bad93;
}

.order-list {
    font-weight: normal;
}

.col-fields__profile {
    flex-direction: column;
}

.profile .offer-col-1 p {
    margin-bottom: 0;
    padding-bottom: 0;
}