{% extends 'osaka/wrapper.html' %}
{% load static %}

{% block title %}
    Контакты
{% endblock %}

{% block rel %}
    <link rel="stylesheet" href="{% static 'osaka/css/banner.css' %}">
{% endblock %}

{% block content %}
    <div class="banner">
        <img src="{% static 'osaka/images/bg-03.jpg' %}">
        <p class="lead">Контакты</p>        
    </div>
    <div class="container">
    <div class="contact-main-wrapper">
        <div class="contact-wrapper">
            <label class="contact-title">Отправьте нам сообщение</label>

            <form action='{% url 'contact' %}' method='post'>
            {% csrf_token %}
            {{ contact_form }}
                <input type="input" placeholder="Ваш e-mail адрес">
                <textarea type="text" placeholder="Как мы можем помочь?"></textarea>
                <button class="btn-sub2ch btn-contact">Отправить</button>
            </form>
            
        </div>
        <div class="contact-wrapper second-block">
            <p>Адрес</p>
            <p class="contact-text">Osaka Store улица капиталистов 228, первый корпус, второй этаж.</p>
            <p>Горячая линия</p>
            <p class="contact-text contact-number">+7 (913) 601 28-01</p>
            <p>Техническая поддержка</p>
            <p class="contact-text contact-number">support@osaka-store.com</p>
        </div>
    </div>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d18311.151647852286!2d73.3720874036499!3d54.99249322438609!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1623183218045!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
{% endblock %}