{% extends 'osaka/wrapper.html' %}
{% load static %}

{% block title %}
    Товары
{% endblock %}

{% block content %}
<div class="container">
    <div class="detail_card_block">
        <div class="detail_card">
            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "osaka/images/empty.png" %}{% endif %}">
        </div>
        <div class="detail_card">
            <h1><p>{{ product.name }}</p></h1>


{% if product.discount %}
            <div class="price">
                <p class="cash_discount">{{ product.price }} ₽ </p>
                <p class="cash">{{ product.discount_calc }} ₽</p>
            </div>
            {% else %}
                <p class="cash">{{ product.price }} ₽</p>
            {% endif %}
            <p class="description">{{ product.description }}</p>
            <p class="description">Количество на складе: {{ product.count }}</p>
            <form action="{% url "cart:cart_add" product.id %}" method="post">     
            {% csrf_token %}
                {{ cart_product_form }}
                <button class="btn-sub2ch" >Добавить в корзину</button>
            
            </form>
            {% endblock %}
            {% block review %}
            <section class="review">
                <div class='container'>
                        {% if request.user.is_authenticated %}
                                <h1>Оставить отзыв</h1>
                            <form action="" method="post">
                                {% csrf_token %}
                                {{ review_form }}
                                <button class="btn-sub2ch btn-review">Отправить</button>
            </form>
                {% endif %} 
                    <h1>Отзывы</h1>
                    {% for review in reviews %}
                        <p class="review_author">{{ review.author }}<label>{{ review.date }}</label></p>
                        <p class="review_text">{{ review.text }}</p>
                    {% endfor %}  
                </div>
            </section>
            {% endblock %}
        </div>
    </div>
</div>