{% extends 'osaka/wrapper.html' %}
{% load static %}

{% block title %}
    Товары
{% endblock %}

{% block content %}
<div class="container">
    <div class="detail_card_block">
        <div class="detail_card">
            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "osaka/images/empty.png" %}{% endif %}">
        </div>
        <div class="detail_card">
            <h1><p>{{ product.name }}</p></h1>
            <p class="cash">{{ product.price }} ₽</p>
            <p class="description">{{ product.description }}</p>
            
            <form action="{% url "cart:cart_add" product.id %}" method="post">      
                                {% csrf_token %}
                {{ cart_product_form }}
            
            {% comment %} <select name="size" required id="id_size">
                <option selected>Выберете размер</option>
                {% for item in product.size.all %}
                {{ item.size }}
                    {% if product.category in item.category.all %}
                        <option value="{{ item.id }}">{{ item }}</option>
                    {% endif %}
                {% endfor %}
            </select>  {% endcomment %}

                <button class="btn-sub2ch" >Добавить в корзину</button>
            </form>
            {% endblock %}
            {% block review %}
            <section class="review">
                <div class='container'>
                    <h1>Отзывы</h1>
                    <div class=''>
                    {% for review in reviews %}
                        <p class="review_author">{{ review.author }}<label>{{ review.date }}</label></p>
                        <p class="review_text">{{ review.text }}</p>
                    {% endfor %}
                    </div>
                </div>
                </section>
            {% endblock %}
        </div>
    </div>
</div>