{% extends 'osaka/wrapper.html' %}
{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Товары{% endif %}
{% endblock %}

{% block content %}
<div class="container">
    <div id="sidebar">
        <ul>
            <li {% if not category %} class = "selected" {% endif %}><a href="{% url "catalog:product_list" %}" id="full_list">Все товары</a></li>
            {% for c in categories %}
            <li {% if category.slug == c.slug %} class = "selected" {% endif %}><a href="{{ c.get_absolute_url }}">{{ c.name }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <h1>{% if category %}{{ category.name }}{% else %}Товары{% endif %}</h1>
    <div id="main" class="product-list">
        {% for product in products %}
        <div class="card">
            <div class="item">
            <a href="{{ product.get_absolute_url }}">
                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "osaka/images/empty.png" %}{% endif %}">
            </a>
            </div>
            <p><a href="{{ product.get_absolute_url }}"> {{ product.name }}</a></p>
            <p class="money">{{ product.price }} ₽</p>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}