* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Poppins', sans-serif;
    src: url("../fonts/Poppins/Poppins-Medium.ttf");
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    color: #333;
    font-size: 14px;
    height: 100%;
    overflow-x: hidden;
    height: 1300px;
}

header {
    background-color: white;
    position: fixed;
    width: 100%;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

footer {
    flex: 0 0 auto;
    /* margin-top: 40px; */
    background-color: #222;
    padding: 30px 0 30px;
}

.clear-fix {
    height: 62px;
    width: 100%;
}

section {
    margin-top: 62px;
    margin-bottom: 10px;
    text-align: justify;
}

.container-menu-desktop {
    flex: 0 0 auto;
    height: 62px;
}

.main-content {
    flex: 1 0 auto;
}

.container {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 15px 0;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 60px;
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
}

.menu-desktop {
    display: flex;
    height: 100%;
    padding: 20px 0 20px;
}

.main-menu {
    list-style-type: none;
    display: flex;
    width: 100%;
    white-space: nowrap;
}

.main-menu li {
    display: block;
    position: relative;
}

.main-menu li+li {
    margin-left: 25px;
}

.main-menu>li>a {
    font-family: 'Poppins', sans-serif;
}

.main-menu a {
    text-decoration: none;
    /* transition: 0.4s ease; */
    color: #333;
}

.main-menu a:hover {
    color: #6c7ae0;
}

.auth-menu {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.txt-center {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    color: #888;
}

.list-name {
    color: white;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.6;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.column {
    display: flex;
    justify-content: space-between;
}

.column a {
    text-decoration: none;
    color: #888;
}

.column a:hover {
    color: #6c7ae0;
    /* transition: 0.4s ease; */
}

.column li {
    list-style-type: none;
    display: block;
    line-height: 2;
}

@media (max-width: 800px) {
    #main-menu__nav {
        display: none;
    }
    .column {
        display: none;
    }
    .txt-center {
        padding: 0;
    }
    .auth h1 {
        font-size: 21px;
    }
}

@media (max-width: 900px) {
    .item {
        width: 200px;
        height: 300px;
        margin-bottom: 70px;
    }
}

.col3 p {
    color: #888;
}

.btn-sub {
    background-color: #717fe0;
    border: none;
    border-radius: 23px;
    font-size: 15px;
    line-height: 1.5;
    color: white;
    padding: 10px 30px 10px;
    margin-top: 20px;
    /* transition: 0.4s ease; */
    cursor: pointer;
}

.btn-sub:hover {
    background-color: white;
    color: #717fe0;
}

.input-sub {
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 2px #333 solid;
    color: white;
    line-height: 2;
    color: white;
}

.auth-block {
    display: flex;
    justify-content: flex-end;
}

.selected a {
    color: #6c7ae0;
}

.banner {
    width: 100%;
    display: flex;
    justify-content: center;
}

.banner img {
    height: 239px;
    width: 1950px;
}

.lead {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 130px;
    font-size: 70px;
    font-weight: bold;
    color: white;
}

.item {
    display: inline-block;
}

.catalog img:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.item {
    width: 315px;
    height: 390px;
    /* overflow: hidden; */
    margin-bottom: 70px;
}

.item img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-bottom: 10px;
}

.item img:hover {
    transform: scale(1.03);
    transition: 1s;
}

.item a {
    text-decoration: none;
    color: #999;
    margin-bottom: 15px;
}

#sidebar {
    padding-top: 30px;
}

#sidebar li {
    display: inline-block;
}

#sidebar a:hover {
    border-bottom: 1px solid #333;
    color: #333;
}

#sidebar li+li {
    margin-left: 24px;
}

#sidebar a {
    text-decoration: none;
    color: #999;
    font-size: 15px;
    padding: 5px 5px 5px 0;
}

#product-list {
    display: flex;
    justify-content: space-between;
}

.money {
    line-height: 30px;
    color: #666;
}